@import url('https://fonts.googleapis.com/css2?family=Acme&family=Baloo+Bhaijaan+2:wght@700&family=Be+Vietnam+Pro:wght@100&family=Mochiy+Pop+P+One&family=Pacifico&family=Roboto+Slab:wght@900&family=Rubik+Beastly&family=Varela+Round&display=swap');
h5{
    color: #fb5b7e;
    text-shadow: #dcc7dc;
    font-family: 'Acme', sans-serif;
    font-size: x-large;
    margin: 2px;
    text-align: center;
  }
 .faqs  h5{
    color: #fb5b7e;
    text-shadow: #dcc7dc;
    font-family: 'Acme', sans-serif;
    font-size: x-large;
   padding: 4%;
 
 }
 .accordion{
   padding: 4px;
  
   font-family: 'Acme', sans-serif;
 }
 p{
  font-family: 'Acme', sans-serif;
     
 }
 body{
  padding: 2%;
 }
